<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  dsweb-example
  %%
  Copyright (C) 2014 Doctusoft Ltd.
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<!--     <servlet> -->
<!--         <servlet-name>sync</servlet-name> -->
<!--         <servlet-class>com.doctusoft.dsw.servermode.example.server.devmode.SyncRPC</servlet-class> -->
<!--         <load-on-startup>1</load-on-startup> -->
<!--     </servlet> -->
    <servlet>
        <servlet-name>startup</servlet-name>
        <servlet-class>com.doctusoft.dsw.sample.server.StartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>person</servlet-name>
        <servlet-class>com.doctusoft.dsw.sample.server.person.PersonRPC</servlet-class>
    </servlet>
<!--     <servlet-mapping> -->
<!--         <servlet-name>sync</servlet-name> -->
<!--         <url-pattern>/devmode/sync</url-pattern> -->
<!--     </servlet-mapping> -->
    <servlet-mapping>
        <servlet-name>person</servlet-name>
        <url-pattern>/devmode/person</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>person</servlet-name>
        <url-pattern>/mvpexample/person</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
